.page-container {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
  }


  .circular-menu {
    height: 105px;
    position: relative;
    width: 105px;
    top: 250px;
  }
  .btnFormCircularMenu{
    border: none;
    background: none;
    color: white;
  }
  .menu-button,
  .menu-item {
    align-items: center;
    border-radius: 50%;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    -webkit-box-shadow: 0px 3px 15px 5px #000000; 
    box-shadow: 0px 3px 15px 5px #000000;
  }
  
  .menu-button {
    /* background-image: url(../../assets/imgs/logo.png); */
    /* background-color: #290366; */
    transform: scale(1.01);
    z-index: 100;
  }
  
  .menu-item {
    transition: transform 500ms ease;
    border: none;
  }
  .menu-item .buttonTextsAndBadge {
    transform: rotate(-180deg);
    display: flex;
    flex-direction: row;
    font-size: 13px;
    gap: 5px;
  }
  /* .menu-item ::before {
    content: "";
    position: absolute;
    top: -220%;
    left: 50%;
    width: 3%;
    height: 1.5rem;
    background-color: rgb(61, 61, 61);
  } */
  .circular-menu-icon {
    display: flex;
    flex-direction: column;
    height: 3px;
    justify-content: space-between;
    width: 27px;
   
  
    
  }
  .circular-menu-icon div {
    background-color:fefefe;
    height: 3px;
    width: 100%;
  }
  
  .close-circular-menu {
    height: 27px;
    position: relative;
    width: 27px;
  }

  .close-circular-menu div {
    background-color: fefefe;
    height: 3px;
    left: 50%;
    position: absolute;
    top: 50%;
    width: 100%;
  }
  .close-circular-menu div :first-child{
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  .close-circular-menu div :nth-child(2){
    transform: translate(-50%, -50%) rotate(45deg);
  }
  
  @media screen and (max-width: 767px) {
    .circular-menu {
      height: 81px;
      width: 81px;
    }
  }
  
  .blink_me {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }