
.parentWorkFlow{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
}
.topWorkFlow{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

}
.bottomWorkFlow{
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}
.bottomWorkFlow .btnBottomWorkFlow{
    width: 100px;
    height: 45px;
    font-size: 12px;
}

  