.listGroupItemAnswer{

    width: 100%;
}
.listGroupItemAnswer .ms-2{
    width: 100%;
    gap: 5px;
}
.listGroupAnswer{
    padding: 0;
    gap: 10px;
}
.listGroupAnswer .answers{
    width: 100%;
    display: flex;
    justify-content: center;
}
/* .listGroupAnswer .answers :first-child{
 width: 50%;
} */
.modalAnswers .modal-body{
    max-height: 500px;
    overflow-y: auto;
}