.listGroupItemAnswer{

    width: 100%;
}
.listGroupItemAnswer .ms-2{
    width: 100%;
    gap: 5px;
}
.listGroupAnswer{
    padding: 0;
    gap: 10px;
}
.listGroupAnswer .answers{
    width: 100%;
    display: flex;
    justify-content: center;
}
/* .listGroupAnswer .answers :first-child{
 width: 50%;
} */
.modalAnswers .modal-body{
    max-height: 500px;
    overflow-y: auto;
}
.modalAnswers .rowAnswer{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.modalAnswers .rowAnswer .mb-3{
   width: 100%;
}
.modalAnswers .rowQuestionTitle{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width:600px) {
    .modalAnswers .rowAnswer{
        flex-direction: column;
        gap: 0;
    }
}