.maintech {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    font-size: 12px;
}

.techmainDiv {
    width: 100%;
}

.techFirstDiv {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    
}

.techRight {
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 1px solid lightgray;
    padding: 5px;
    border-radius: 5px;
    margin: 0 8px;
    height: 100%;
    justify-content: space-between;
}

.techRight > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}




.tehMiddle {
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 1px solid lightgray;
    padding: 5px;
    border-radius: 5px;
    margin: 0 8px;
    height: 100%;
    justify-content: space-between;


}

.tehMiddle > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}


.techLeft {
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 1px solid lightgray;
    padding: 5px;
    border-radius: 5px;
    margin: 0 8px;
    height: 100%;
    justify-content: space-between;

}

.techLeft > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.techHR {
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 5px;
}


.techSecondDiv {

    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    padding: 5px;

}

.techWarrantyStatus {
    flex: 3;
    display: flex;
   height: fit-content;
    justify-content: space-between;
    height: 100%;
}

.techWarranty {
    
    flex: 1;
    width: 100%;
    margin: 0 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;


}
.techWarrantyType{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    width: 100%;
}

.cancelReasonDiv{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    width: 100%;
}
.techWarDiv,.techWT,.techSEnd,.techSProg,.techSs {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    flex: 1;
}

.selectSendTypeTech {
    margin: 2px;
    border: 1px solid lightgray;
    padding: 5px;
    border-radius: 3px;
    width: 80%;
    outline: none;
    border-radius: 5px;
    
}

.selectSendType:hover {
    border: 1px solid black;
}



.selectSendType:focus {
    outline: 1px solid #0072E5;
    border: 1px solid #0072E5;
    
}

.techWarrantyText {
    height: 60px;
    resize: none;
    border: 1px solid lightgray;
    width: 80%;
    margin: 10px;
}

.techWarrantyText:hover {
    border: 1px solid black;
}
.techWarrantyText:focus {
    border: none;
    outline: 1px solid lightblue;
}
.techWarrantyText1 {
    /* height: 110px; */
    resize: none;
    border: 1px solid lightgray;
    width: 80%;
    margin: 10px;
}

.techWarrantyText1:hover {
    border: 1px solid black;
}
.techWarrantyText1:focus {
    border: none;
    outline: 1px solid lightblue;
}

.techStatus {
    flex: 1;
    margin: 0 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.firstTechStatus{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid lightgray;

}
.statusInProgressDiv{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid lightgray;

}
.finalTechStatus{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid lightgray;

}
.techSt {
    /* border: 1px solid lightgray; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}






.techDescDiv {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.technicalDescription {
    border: 1px solid lightgray;
    resize: none;


}



.technicalDescription:hover {
    border: 1px solid black;
}


.techFooterDiv {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.techDownRight {
    flex: 1;
    height: 100%;
    width: 100%;
}

.techDownRightDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid lightgray;
    width: 100%;
    height: 200px;
    padding: 10px;
    margin: 0 10px;
}
.submitBtnTech{
    display: flex;
    align-items: center;
    justify-content: center;
}
.submitBtnTech button{
width: 10%;
}
.mSelectDiv {
    width: 80%;
    direction: ltr;
}

.techDownMiddle {
    flex: 1;
    height: 100%;
    width: 100%;
    margin: 0 10px;

}
.techDownLeft {
    flex: 1;
    height: 100%;
    width: 100%;
    margin: 0 10px;

}

.labelMargin {
    margin-inline-start: 10px;
}

.tipDiv {
    display: flex;
    align-items: center;
    width: 100%;
}

.tipDiv > span {
    margin-inline-start: 10px;
    font-weight: bold;
}



.tip {
    height: 40px;
    width: 80%;
    border-radius: 5px;
    border: 1px solid lightgray;
    
}

.tip::-webkit-outer-spin-button,
.tip::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.tip[type=number] {
  -moz-appearance: textfield;
}

.accordingDiv {
    width: 100%;
}

.accordionBody{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.addBtn{
    width: 50%;
    /* margin-inline: 10%; */
    display: flex;
    justify-content:space-between;
}

.ipTextFields{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2px;
    align-items: center;
    width: 40%;
}

.ipTextFields>input{
    width: 100%;
    margin: 5px;
    text-align: center;
}

.failedBTNParent{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 25px;
    margin-top: 3px;
    border: none;
}

.failedBTNParent >input {
    display: none;
}

.failedBTN {
    background-color: transparent;
    color:rgb(255, 68, 68);
    cursor: pointer;
    border: none;
    margin: 0 5px;
    font-size: 20px;

}

.failedBTN:focus {
    outline: none;
}

.failedBTNParent > span {
    font-size: 10px; 
}

