// color variables

$off-white: #fefefe;
$dark-purple: #090126;
$dark-purple-secondary: #290366;

// -------------------------------

// font variables

$primary-font: 'Open Sans Condensed', sans-serif;

// -------------------------------

// font size variables

$small-font-size: 16px;

// -------------------------------

// spacer variables

$xs-space: 3px;
$small-space: 18px;
$medium-space: 27px;
$large-space: 81px;
$xl-space: 144px;

// -------------------------------