.repairedPerformedMain {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: calc(100vh - 164px);
}

.repairePerformUp {
  display: flex;
  width: 100%;
  flex: 95%;
}

.repairPerformDown {
  display: flex;
  flex: 5%;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  padding: 5px;
  border: 1px solid lightgray;
  align-self: center;
  margin-top: 5px;
  border-radius: 4px;
}

.treeViewRow {
  display: flex;
  width: 100%;
}

.rowViewBtn {
  border: none;
  background-color: transparent;
  color: red;
  height: fit-content;
}
.rowViewBtnEdit {
  border: none;
  background-color: transparent;
  color: green;
  height: fit-content;
}
.rowViewBtnFee {
  border: none;
  background-color: transparent;
  color: gold;
  height: fit-content;
}

.repairPerformDown > button {
  margin: 2px 5px;
}

.repairedPerformedRight {
  flex: 1;
  border-inline-end: 1px double black;
}
.repairedPerformedLeft {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.repairRowPerformed {
  width: 100%;
  display: flex;
  align-items: center;
}

.repairsPerformedItem {
  width: 100%;
}

.repairedFormDownDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.accordionCss {
  display: none;
  width: 100%;
}

@media screen and (max-width: 899px) {
  .accordionCss {
    display: flex;
    width: 100%;
  }
}
