.tableModal{
    display: flex;
    flex-direction: column;
    z-index: 20;
    align-items: center;
    justify-content: center;
}
.tableModal .switch{
    display: flex;
    align-items: center;
    justify-content: center;
}
.tableModal .addBtn{
    display: flex;
    justify-content: space-around;
}
.tableModal  .ipTextFields,.tableModal .browserSelects,.tableModal .locations{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding-block: 10px;
}
.datePickerTableModal{
    direction: ltr;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}



.phoneNumberClass::-webkit-outer-spin-button,
.phoneNumberClass::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Firefox */
  .phoneNumberClass[type=number] {
    -moz-appearance: textfield;
  }


  .patternModalDiv {
    display: flex;
    align-items: center;
    justify-content: center;
  }