.tablePermission{
    text-align: center;
}

.modalPermission .modal-body{
    max-height: 500px ;
    overflow: auto;
}
.modalPermission .checkboxes{
    text-align: end;
}
.filterCheckboxes{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff;
}

.modalTopPad {
    padding-top: 0;
    overflow-y: scroll;
}

.tablePermission >thead  {
    position: sticky;
    top: 50px;
    z-index: 999;
}
.permissionTableRow  {
    
    position: sticky;

    z-index: 999;
    background-color: lightgray;
}