.App {
  height: 100vh;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
@font-face {
  font-family: 'IRANSansFa';
  src: local('IRANSansFa'), url(../fonts/IRANSansFaNum.ttf) format('truetype');
}
@font-face {
  font-family: 'IRANSansEn';
  src: local("IRANSansEn"),url(../fonts/IRANSans.ttf);
}
body{
  margin: 0;
}
.fontFa{
  font-family: 'IRANSansFa',serif !important;
}
.fontEn{
  font-family: 'IRANSansEn',serif !important;
}
.modal-header .btn-close{
  padding: 0;
  margin: 0;
}
button:disabled{
  cursor: not-allowed !important;
}


.Row{
  display: flex;
  gap: 5px;
  width: 100%;
}
.Row .mb-3{
  width: 100%;
}

.activationRow {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-switch {
  margin: 0 10px;
}
.periorityFormDefine{
  display: flex;
justify-content: center;
}
.periorityForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  gap:10px;
}
.periorityFormModal  #color {
  width: 100%;
  margin: 0 auto;
}

.periorityFormDefine .mb-3{
  width: 100%;
}
@media screen and (max-width:600px){
  .Row{
    flex-direction: column;
  }
  .periorityForm{
    width: 90%;
  }
}
.custom-container{
width: 100%;
}
.custom-container .rmdp-input{width: 100%;height: auto;}



.Link{
  text-decoration: underline;
  cursor: pointer;
  color:  mediumblue;
}
.importUIClass .table-responsive{
  max-height: 30vh;
}

.addBtn {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.browserSelects {
  display: flex;
  align-items: center;
}

.addFileCss {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

