.periorityFormDefine{
    display: flex;
justify-content: center;
}
.periorityForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    gap:10px;
}
.periorityFormModal  #color {
    width: 50%;
    margin: 0 auto;
}

.periorityFormDefine .mb-3{
    width: 100%;
}
.periorityFormDefine #color{
    width: 50%;
    margin: 0 auto;
}
