.tableEyeBtn {
  border: none;
  background: none;
}
.modalLog td {
  text-align: center;
}
.modalLog .modal-content {
  max-height: 500px;
  overflow-y: auto;
}

table,
th,
td {
  border: 1px solid lightgray;
}
