.editModalPeriority .modal-body {
  display: flex;
  justify-content: center;
}

.editModalPeriority .periorityFormsEdit {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.mb-3 {
  width: 70%;
}

#color {
  width: 100%;
}
