.m-signature-pad--body {
    margin: 0;
    padding: 0;
    width: 100%;
   
    flex: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#signature-pad {
    width: 100%;
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.canvasForEver {
    height: 100%;
    width: 100%;
    z-index: 10;
    

    
}

.buttonForDiv {
    position: relative;
    
    width: 100px;
    z-index: 99;
    flex: 5%;
    
    
}


.newBtnClear {
    z-index: 100;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: transparent;
    width: 100%;
   
    
}

.newBtnClear:focus{
    outline: none;
}