.admissionModal .modal-body {
    max-height: 600px;
    overflow: auto;
}
.admissionModal .tableModal {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;


}

.admissionModal .updateModalSig {
    display: flex;
    flex-direction: column;



}
.admissionModal .admitionDiv {
    width: 100%;



}

.admissionModal .editSignature {
    border: 1px solid rgb(115, 86, 168);
    border-radius: 8px;
    background-color: #fff;
    color: rgb(115, 86, 168);
}
.admissionModal .imageCustomer {
    border: 1px solid lightgray;

}
.admissionModal .updateModalSignature {
    border: 1px solid lightgray;
    

}
.admissionModal .customerDesc {
    border: 1px solid lightgray;
    resize: none;


}

.customerDesc:hover {
    border: 1px solid black;
}

.customerDesc:focus {
    border: 1px solid rgb(82, 82, 236);
    outline: none;
}


.customerDescDiv {
    display: flex;
    flex-direction: column;


}
