.sentFormMain {
    height: calc(100vh - 165px);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.sentFormUp {
    flex: 5;
    display: flex;
}

.sentFormRight {
    display: flex;
    flex: 1;
    height: 100%;
    flex-direction: column;
    padding: 10px 5px; 
}

.sentFormMainRightDiv {
    flex: 1;
    align-items: center;
    justify-content: center;
}

.sentFormRecievtionDiv {
    display: flex;
    flex: 1;
    border: 1px solid lightgray;
    margin: 8px auto;
    width: 90%;
    border-radius: 8px;
    align-items: center;
    padding: 5px 10px;
}

.sentFormlabel {
    flex: 1;
    width: 90%;
    margin: 0 40px;
    font-weight: bold;
}

.sentFormlabelValue {
    text-align: center;
    flex: 1;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sentFormMainRightDiv1 {
    flex: 2;
    align-items: center;
    justify-content: center;
}

.sentFormlabelValue1 {
    text-align: start;
    justify-self: start;
    line-height: normal;
    font-size: 14px;
    
}


.sentFormRecievtionDiv3 {
    display: flex;
    flex: 1;
    margin: 0 auto;
    width: 95%;
    border-radius: 8px;
    align-items: center;
    padding: 5px 10px;
}

.sentFormSelectSendType {
    margin-top: 5px;
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 8px;
    width: 100%;
    outline: none;
    
}

.sentFormSelectSendType:hover {
    border: 1px solid black;
}



.sentFormSelectSendType:focus {
    outline: 1px solid #0072E5;
    border: 1px solid #0072E5;
    
}


.sentFormRecievtionDiv2 {
    display: flex;
    flex: 3;
    border: 1px solid lightgray;
    margin: 8px auto;
    width: 90%;
    height: 80%;
    border-radius: 8px;
    align-items: stretch;
    padding: 5px 10px;
}

.sentFormMid {
    display: flex;
    flex: 1;
    height: 100%;
    flex-direction: column;
    padding: 10px 5px; 

}


.sentFormlabelValue2 {
    text-align: center;
    flex: 1;
    margin: 12px auto;
}

.sentFormMainRightDiv9 {
    flex: 1;
    align-items: center;
    justify-content: center;
    margin: 7px 0;
}

.sentFormlabel1 {
    flex: 1;
    width: 90%;
    margin: 0px 40px;
    font-weight: bold;
}

.sentFormLeft {
    display: flex;
    flex: 1;
    height: 100%;
    flex-direction: column;
    padding: 10px 5px;
}

.sentFormlabelInput {
    width: 95%;
    border: 1px solid lightgray;
    outline: none;
    border-radius: 8px;
    height: 50px;
    
    
}

.sentFormlabelInput::-webkit-outer-spin-button,
.sentFormlabelInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.sentFormlabelInput[type=number] {
  -moz-appearance: textfield;
}

.sentFormlabelInput:hover {
    border: 1px solid black;
}



.sentFormlabelInput:focus {
    outline: 1px solid #0072E5;
    border: 1px solid #0072E5;
    
}

.sentFormRecievtionDiv10 {
    display: flex;
    flex: 1;
    border:none;
    margin: 8px auto;
    width: 100%;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
}




.sentFormDown {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.sentFormDownTotal {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: lightgray;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-inline-start: 50px;
    border-radius: 8px;
    padding: 10px;
    width: 20%;

}

.sentFormDownTotalUp {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.sentformDownlabel {
    flex: 4;

}

.sentformDownlabelValue {
    flex: 1;
}

.sentFormButton {
    width: 200px;
    margin-inline-end: 40px;
    outline: none;
    border: 1px solid rgb(79, 79, 218);
    height: 50px;
    border-radius: 10px;
    color: rgb(79, 79, 218);
    background-color: #fff;
    transition: all 400ms ease;
}

.sentFormButton:hover{
    color: #fff;
    background-color: rgb(79, 79, 218);
}


.sentFormlabelInput2 {
    width: 95%;
    utline: 1px solid #ff2b2b;
    border: 1px solid #ff2b2b;
    outline: none;
    border-radius: 8px;
    height: 50px;
    
    
}

.sentFormlabelInput2::-webkit-outer-spin-button,
.sentFormlabelInput2::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.sentFormlabelInput2[type=number] {
  -moz-appearance: textfield;
}

.sentFormlabelInput2:hover {
    border: 1px solid #ff2b2b;
}

.sentFormlabelInput2:focus {
    outline: 1px solid #ff2b2b;
    border: 1px solid #ff2b2b;
    
}