.OperatorForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.OperatorFormMainDiv {
  height: 650px;
  width: 600px;
  border-radius: 5px;
}
.OperatorGroupFormform .switch {
  display: flex;
  flex-direction: row;
}

.OperatorFormTitle {
  margin-bottom: 20px;
}

.OperatorFormform {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.switch-holderOperator {
  display: flex;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.7),
    10px 10px 10px rgba(0, 0, 0, 0.3),
    inset 8px 8px 15px rgba(255, 255, 255, 0.7),
    inset 10px 10px 10px rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
  width: 200px;
  margin: 15px auto;
}

.switch-toggleOperator {
  height: 40px;
}

.switch-toggleOperator input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -2;
}

.switch-toggleOperator input[type="checkbox"] + label {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  margin: 0;
  cursor: pointer;
  box-shadow: inset -8px -8px 15px rgba(255, 255, 255, 0.6),
    inset 10px 10px 10px rgba(0, 0, 0, 0.25);
}

.switch-toggleOperator input[type="checkbox"] + label::before {
  position: absolute;
  content: "OFF";
  font-size: 12px;
  text-align: center;
  line-height: 25px;
  top: 8px;
  left: 11px;
  width: 60px;
  height: 25px;
  border-radius: 20px;
  background-color: #d1dad3;
  box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.5),
    3px 3px 5px rgba(0, 0, 0, 0.25);
  transition: 0.3s ease-in-out;
}

.switch-toggleOperator input[type="checkbox"]:checked + label::before {
  left: 50%;
  content: "ON";
  color: #fff;

  background-color: #006bb3;
  box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.5), 3px 3px 5px #006bb3;
}

.inputDiv {
  display: flex;
  align-items: flex-start;
  width: 90%;
  flex-direction: column;
  margin: 6px auto;
}

.OperatorFormInputTitle {
  margin: 5px 0;
  border: 1px solid lightgray;
  width: 100%;
  border-radius: 3px;
  height: 45px;
  padding: 10px;
  font-size: 14px;
}

.OperatorFormInputTitle:hover {
  border: 1px solid #117ec7;
}

.OperatorFormInputTitle:focus {
  outline: 1px solid #006bb3;
  border: 1px solid #006bb3;
}
.OperatorFormInputTitleFail {
  margin: 5px 0;
  border: 1px solid #fa3131;
  width: 100%;
  border-radius: 3px;
  height: 45px;
  padding: 10px;
  font-size: 14px;
}

.OperatorFormInputTitleFail:hover {
  border: 1px solid #fa3131;
}

.OperatorFormInputTitleFail:focus {
  outline: 1px solid #fa3131;
  border: 1px solid #fa3131;
}

.inputDivDesc {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  margin: 20px auto;
}

.OperatorFormInputDesc {
  margin: 3px 0;
  border: 1px solid lightgray;
  width: 100%;
  border-radius: 3px;
  height: 40px;
  padding: 10px;
  font-size: 14px;
  margin: 8px auto;
  height: 200px;
  resize: none;
}

.OperatorFormInputDesc:hover {
  border: 1px solid #117ec7;
}

.OperatorFormInputDesc:focus {
  outline: 1px solid #006bb3;
  border: 1px solid #006bb3;
}

.deleteBtn {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: none;
  color: #fff;
  background: #006bb3;
  transition: all 0.25s ease;
  align-self: center;
}

.deleteBtn:hover {
  box-shadow: 0 10px 20px -10px rgba(252, 135, 145, 0.6);
  transform: translateY(-5px);
  background: #006bb3;
}

#OperatorFormInputPhone1::-webkit-outer-spin-button,
#OperatorFormInputPhone1::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#OperatorFormInputPhone1[type="number"] {
  -moz-appearance: textfield;
}

#OperatorFormInputExp1 {
  margin-bottom: 4px;
}

.errorMsg {
  color: red;
  margin-bottom: 0;
  font-size: 13px;
}

.mainCustomerDiv {
  height: 700px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.customerFirstDiv {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.customerSecondDiv {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.customerThirdDiv {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.customerFourthDiv {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.datePickerGroup{
  direction: ltr;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.customerFivthDiv {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.customerSixhDiv {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.customerSevenshDiv {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}

.customerFirstName {
  flex: 1;
  margin: 0 5px;
}



#customerpassWord {
  height: 50px;
}

#customerpassWord {
  flex: 1;
  height: 50px;
  margin: 0 5px;
  border: 1px solid lightgray;
  border-radius: 8px;
}

#customerpassWord:hover {
  border: 1px solid black;
}
#customerpassWord:focus {
  border: 1px solid #006bb3;
  outline: 1px solid #006bb3;
}

#customerpassWord:hover::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

#customerpassWord:hover:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: black;
}

#customerpassWord:hover::-ms-input-placeholder {
  /* Microsoft Edge */
  color: black;
}

#customerpassWord:focus::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #006bb3;
  opacity: 1; /* Firefox */
}

#customerpassWord:focus:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #006bb3;
}

#customerpassWord:focus::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #006bb3;
}

.customerFirstName::-webkit-outer-spin-button,
.customerFirstName::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.customerFirstName[type="number"] {
  -moz-appearance: textfield;
}

.customerGender {
  flex: 0.5;
  height: 50px;
  margin: 0 5px;
  border: 1px solid lightgray;
  border-radius: 8px;
}

.customerGender:hover {
  border: 1px solid black;
}
.customerGender:focus {
  border: 1px solid #006bb3;
  outline: 1px solid #006bb3;
}

.customerFormTextArea {
  resize: none;
  border: 1px solid lightgray;

  width: 100%;
  height: 100px;
  border-radius: 8px;
}

.customerFormTextArea:hover {
  border: 1px solid black;
}
.customerFormTextArea:focus {
  border: 1px solid #006bb3;
  outline: 1px solid #006bb3;
}

.customerFormTextArea:hover::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

.customerFormTextArea:hover:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: black;
}

.customerFormTextArea:hover::-ms-input-placeholder {
  /* Microsoft Edge */
  color: black;
}

.customerFormTextArea:focus::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #006bb3;
  opacity: 1; /* Firefox */
}

.customerFormTextArea:focus:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #006bb3;
}

.customerFormTextArea:focus::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #006bb3;
}

@media screen and (max-width: 420px) {
  .customerGender {
    flex: 0.5;
    height: 50px !important;
    margin: 0 5px;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 8px;
  }

  .customerFourthDiv {
    flex-direction: column;
  }
  .customerFivthDiv {
    flex-direction: column;
  }

  .deleteBtn {
    margin-bottom: 100px;
  }
}
