main{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 1rem;

   
}
.first{
   
    flex: 1;
    display: flex;
  
    margin: 10px;
}
.first>.formQc{
    flex: 1;
    text-align: center;
    text-align: -webkit-center;
    place-self: center;
}
.first>.formQc>.QcText{
    border: 1px solid;
    width: 50%;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;

}
.first>.title{
    flex: 2;
    text-align: center;
    text-align: -webkit-center;
    place-self: center;
}
.first>.title>.officeTitle{
    
    border: 1px solid;
    width: 50%;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
}
.first>.logo{
    flex: 1;
    text-align: center;
    text-align: -webkit-center;
    place-self: center;
}
.first>.logo>.logoDiv{
    /* border: 1px solid; */
    /* width: 50%; */
}
.logoDiv>img{
    width: 250px;
    height: 150px;
}
.second{
    display: flex;
    flex: 3;
    justify-content: space-between;

}
.second>.right ,.second>.left{
    padding: 1rem;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 30%;
    font-size: 0.90rem;
    border-radius: 10px;
    gap: 2px;
}
.second>.right div,.second>.left div{
    display: flex;
    justify-content: space-between;
}

.third{
    display: flex;
    flex: 6;
    justify-content: center;
  
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  table tr:first-of-type{
    position: sticky;
    top: 0;
    background: white;
  }
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }

.innerTableDiv{
height: 350px;
overflow-y: auto;
}
.btnContainerQc{
width: 100%;
display: flex;
justify-content: center;
}
.btnContainerQc> button{
    width: 50%;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1200px)  {
   
    .first>.title>.officeTitle,.first>.formQc>.QcText,.first>.logo>.logoDiv{
        font-size: 0.80rem;
    }
    .second>.right ,.second>.left{
        width: 40%;
        font-size: 0.75rem;
    }
    
}

@media screen and (max-width: 768px) {
    .first>.title>.officeTitle,.first>.formQc>.QcText,.first>.logo>.logoDiv{
        font-size: 0.50rem;
    }
    .second{
        flex-direction: column;
        gap: 5px;
    }
    .second>.right ,.second>.left{
        width: 100%;
        font-size: 0.65rem;
    }
    .innerTableDiv{
        width: 100%;
    }
    td, th {
       font-size: 0.60rem;
       padding: 2px;
      }
      .tableQC textarea{
        font-size: 10px !important;
    }
}