.time{
    display:flex;
    justify-content: center;
    color: white;

}
.hrSideNavbar{
    color: white;
}

#sidebarNav{
 
    height: 100%;
    display: flex;
    justify-content: center;
    transition: 350ms;
    z-index: 10;
}
.sidebarWithBtn{
  display: flex;
  align-items: center;
  width: 100%;
  background-color: var(--sidebarDropDown);
}
.sidebarNavRTL{
right: 0;
left: unset;
}
.sidebarNavLTR{
    right: unset;
    left: 0;   
}
.sidebarWrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* overflow-x: auto; */
}
.SidebarLink {
    background-color:var(--headerBackGround);
    border: none;
  display: flex;
  color: #e1e9fc;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  list-style: none;
  height: 60px;
  text-decoration: none;
  font-size: 13px;
  width: 100%;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  overflow: hidden;
  cursor: pointer;
}
.searchSidebar::-webkit-scrollbar{
  display:none;
}
/* .SidebarLink:active {
    background-color: #3a3b3a;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  } */

.SidebarLink:hover {
    cursor: pointer;
  }
  .SidebarLabel{
  margin-left: 16px;
  margin-right:0.5rem;
  }
.btnIconSidebar{
  background: none;
  border: none;
  height: fit-content;
  color: white;
  width: 20%;
}
.btnIconSidebar:hover{
  background:darkblue;
  border-radius: 4px;
}
.DropdownLinkBtn {
  background-color: var(--sidebarDropDown);
  height: 60px;
  border: none;
  width: 80%;
  
  padding: 20px 30px ;
  /* text-align: start; */
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-decoration: none;
  color: #f5f5f5;
  font-size: 10px;
  
}
.DropdownLink {
  background-color: var(--sidebarDropDown);
  height: 60px;
  border: none;
  width: 100%;
  
  padding: 20px 30px ;
  /* text-align: start; */
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-decoration: none;
  color: #f5f5f5;
  font-size: 10px;
  
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--headerBackGround);
  /* height: 100px; */
  
}
.logo > a >img{
  border-radius: 10px;
  width: 50px;
  height: 50px;
}

.mainCtDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: var(--headerBackGround);
}

.mainCtDiv > span {
  color: #ffffff;
}

.DropdownLink:active {
    background-color: #3a3b3a;
    box-shadow: 0 1px #666;
    transform: translateY(2px);
  }
.DropdownLink:hover {
    border-left: 4px solid #632ce4;
    cursor: pointer;
  }
  .searchSidebar{
      overflow-y: auto;
      overflow-x: hidden;
      display: flex;
      flex-direction: column;
  }
  .mainCtDiv input:first-of-type ,.mainCtDiv span:first-of-type{
      background-color: transparent;
      color: white;
      
  }
  .input-group {
    width: 99%;
  }
 
  @media screen and (max-width: 1200px) {
    .SidebarLink{
      font-size: 10px;
    }
    .DropdownLinkBtn,.DropdownLink{
      font-size: 8px;
    }
    
  }
 

 