.time{
    display:flex;
    justify-content: center;
    color: white;

}
.hrSideNavbar{
    color: white;
}

#sidebarNav{
    background: #15171c;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    transition: 350ms;
    z-index: 10;
   
}
.sidebarNavRTL{
right: 0;
left: unset;
}
.sidebarNavLTR{
    right: unset;
    left: 0;   
}
.sidebarWrapper{
    width: 100%;
    overflow-x: auto;
}
.SidebarLink {
  display: flex;
  color: #e1e9fc;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  list-style: none;
  height: 60px;
  text-decoration: none;
  font-size: 18px;
}
.SidebarLink:hover {
    background: #252831;
    border-left: 4px solid #632ce4;
    cursor: pointer;
  }
  .SidebarLabel{
  margin-left: 16px;
  margin-right:0.5rem;
  }

.DropdownLink {
  background: #414757;
  height: 60px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  justify-content: center;
  
}
.DropdownLink:hover {
    background: #632ce4;
    cursor: pointer;
  }
  .searchSidebar{
      margin-inline: 0.5rem;
  }
  .searchSidebar input:first-of-type ,.searchSidebar span:first-of-type{
      background-color: transparent;
      color: white;
      
  }