.questionFooterDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: 1px solid lightgray;
    padding: 5px 10px;
    border-radius: 4px;
}

.questionDeleteDiv {
    flex: 2.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 1px;
    color: red;
    cursor: pointer;

}
.questionUpDiv {
    flex: 2.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 1px;
    color: darkgray;
    cursor: pointer;

}
.questionDownDiv {
    flex: 2.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 1px;
    color: darkgray;
    cursor: pointer;

}
.questionEditDiv {
    flex: 2.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 1px;
    color: green;
    cursor: pointer;

}
.questionMainDiv {
    flex: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.questionListGroup {
    width: 100%;
    transition: all 500ms ease;
}

.listGroupItemQuestion {
    transition: all 500ms ease;
}

.questionTitle {
    width: 100%;
    transition: all 500ms ease;
}

.questionMain{
    width: 100%;
    margin-inline-start: 5px;
    flex: 90%;
    transition: all 500ms ease;
}

.questionButtons {
    display: flex;
    align-items: center;
    flex: 10%;
    
}

.questionModalFooter {
    max-height: 300px;
    overflow-y: auto;

}

.colomnDirections {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.colorPickerInputQuestion {
width: 100%;
}

.questionFormSubmit {
    transition: all 500ms ease;
}
