
.mainparent {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.header {
    height: 50px;


    background-color: rgb(216, 221, 211);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    padding: 5px;
    text-align: center;
    border-radius: 2px;
    
}

.hederLeft {
    flex: 1;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 0; 
}

.firstIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    margin: 0 2px;
    cursor: pointer;
    
}
.firstIcon > i {
    width: 100%;
    height: 100%;
    font-size: 25px;
}

.secondIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    margin: 0 2px;
    cursor: pointer;
}

.secondIcon > i {
    width: 100%;
    height: 100%;
}

.thirdIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    margin: 0 2px;
    position: relative;
    cursor: pointer;

}

.thirdIcon > i {
    width: 100%;
    height: 100%;
}

/* .notification{
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    color: #fff;
    position: absolute;
    top: -1px;
    right: -1px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
} */

.forthIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    margin: 0 2px;cursor: pointer;

}

.forthIcon > i {
    width: 100%;
    height: 100%;
}

.flagReletive {
    position: relative;
}

.dropdown-content-flag {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    /* height: 100px; */
    /* margin-top: 10px; */
    right: -20px;
    position: absolute;
    background-color: #fff;
    width: fit-content;
    /* overflow: auto;  */
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    z-index: 1;
}
.languageBtn> button:disabled{
    color: #dddddd;
}
.dropDownFlagLink{
    color: black;
    margin-right: 10px;
    background: none;
    border: none;
    text-decoration: none;
    
}



.headerMid {
    flex: 1;
}

.headerRight{
    flex:1;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}

.logOut {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    margin: 0 5px;
    /* background-color: #fff; */
    border-radius: 50%;
    cursor: pointer;
    
}

.logOutReletive {
    position: relative;
}


.dropdown-content {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 100px;
    /* margin-top: 10px; */
    
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    overflow: auto; 
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    z-index: 1;
}

.dropdown-content > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.dropImg {
    height: 30px;
    width: 30px;
    background-color: rgb(156, 83, 224);
    border-radius: 50%;
    margin-right: 5px;
}

.dropDownLink {
    color: black;
    margin-right: 10px;
    text-decoration: none;
    border: none;
    background: none;
    
}

.Icon {
    height: 30px;
    width: 30px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}

.profileName {
    margin: 0 5px;
    font-size: 15px;
    font-weight: 400;
}

.profileImg {
    /* height: 30px;
    width: 30px; */
    margin: 0 5px;
    border-radius: 50%;
    /* background-color: #fff; */
}

.main {
    height: calc(100vh - 90px);
    display: flex;
    flex-direction: row;
    gap: 5px;

    
}

.mainLeft {
    flex: 80%;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);

}

.mainRight {
    flex:20%;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);


}


.footer {
    height: 40px;
    background-color: rgb(216, 221, 211);
    position: sticky;
    border-radius: 2px;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.leftFooter {
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middleFooter {
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rightFooter {
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
}


::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(130, 127, 127);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(69, 67, 67);
  }


  @media screen and (max-width: 960px) {
    .mainRight{
      flex: none;
    }
  }
  

  @media screen and (max-width: 650px) {
    
    .header {
        height: 40px;
        width: 100%;
    }
    .profileImg {
        height: 15px;
        width: 15px;
    }

    .profileImg > div  {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 12px !important;
        width: 12px !important;
    }

    .profileImg > div > svg {
        height: 12px;
        width: 12px;
    }

    .profileName > div {
        font-size: 12px;
    }

    .logOut {
        height: 15px;
        width: 15px;
    }

    .logOutReletive {
        width: 12px;
        height: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logOutReletive >svg {
        height: 12px;
        width: 12px;
    }
    .forthIcon {
        height: 15px;
        width: 15px;
    }

    .flagReletive {
        width: 12px;
        height: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .flagReletive >svg {
        height: 12px;
        width: 12px;
    }
    .dropdown-content-flag {
        right: -50px;
        top: 14px;
    }

    .languageBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .dropDownFlagLink {
        font-size: 12px;
        text-align: center;
       
    }

    .thirdIcon {
        height: 15px;
        width: 15px;
    }

    .thirdIcon > div {
        width: 12px;
        height: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .thirdIcon > div >svg {
        height: 12px;
        width: 12px;
    }
    .secondIcon {
        height: 15px;
        width: 15px;
    }

    .secondIcon > div {
        width: 12px;
        height: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .secondIcon > div >svg {
        height: 12px;
        width: 12px;
    }
    .firstIcon {
        width: 12px;
        height: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
    }



    .firstIcon >svg {
        height: 12px;
        width: 12px;
    }

    .main {
        height: calc(100vh - 70px);
    }

    .tabParrentDiv {
        height: 100%;
    }

    .tab-content {
        height: 100%;
    }

    .firstOperatorColumn {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100% !important;
        flex-wrap: wrap;


    }

    .mainOperatorDash {
        width: 100% !important;

    }

    .operatorDashboardInformation {
        
        width: 100%;
        flex: 1 !important;
        margin: 0 auto;
    }

    .operatorDashboardInformation > hr {
        margin: 8px;
    }

    .dashInformationDiv {
        width: 100% !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .dashInformationDiv > span {
        font-size: 10px;
        text-align: start !important;
        font-weight: bold;
    }

    .operatorDashboardFavarot {
        flex: 1 !important;
        width: 100% !important;
        display: flex;
        flex-wrap: wrap;
    }

    .favarotContainer {
        height: 100px !important;
        width: 100px !important;
    }

    .favarotClose {
        height: 10px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .destroyFavarot {
        width: fit-content;
        height: 10px;
        margin-top: 0 !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .destroyFavarot > svg{
        height: 10px;
        width: 10px;
        margin: 0 !important;
    }

    .favarotIcon {
        height: 50px !important;
        width: 50px !important;
    }
    .favarotIcon > svg {
        height: 50px !important;
        width: 50px !important;
    }

    .TitleAndDestroy >span {
        font-size: 10px;
    }

    .opratorDashActivity {
        
        overflow: hidden !important;

        display: flex;
        flex-direction: column;
        align-items: flex-start !important;
        justify-content: space-between !important;
        width: 500px !important;

    }

    .opratorDashActivity > h3 {
        font-size: 17px;
        font-weight: bold;
    }
    

    .opratorDashActivityTable {

        overflow: auto !important;
        width: 100% !important;
    }

    .opratorDashActivityTableThead {
        height: 25px !important; 
    }

    .opratorDashActivityTableTheadTrTh {
        font-size: 11px;
        font-weight: bolder;
    }

    .opratorDashActivityTableTbodyTrTd {
        font-size: 11px;
    }


    .opratorDashNoteContainer {
        width: 100px !important;
        height: 100px !important;
    }

    .opratorDashNoteContainerInner {
        width: 100px !important;
        height: 100px !important;
    }

    .opratorDashNoteTitle {
        font-size: 13px !important;
    }
    .opratorDashAlert > h3 {
        font-size: 17px;
        font-weight: bold;
    }
    .opratorDashListOfLogin > h3 {
        font-size: 17px;
        font-weight: bold;
    }
    .opratorDashListOfFailed > h3 {
        font-size: 17px;
        font-weight: bold;
    }


    .opratorDashNoteContainerInnerBackClose {
        height: 10px;
        width: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .opratorDashNoteContainerInnerBackClose > svg {
        height: 10px;
        width: 10px;
    }

    .opratorDashNoteDescription {
        font-size: 10px;
    }

  }






