.authparent{
    background: url("../assets/imgs/login.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
 
}
.authHeader{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.formParent{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 25%;
    flex-direction: column;
}
.headerLogoLang{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.logoAuthImg{
    width: 25%;
}
.logoAuth >img{
    width: 50px;
    
}
.authLogoDiv{
    margin-bottom: 35px;
    text-align: center;
}
.footerForm a{
    color: rgb(66, 121, 172);
    text-decoration: none;
}
.authSubmitDiv{
    display: flex;
    justify-content: center;
    width: 100%;
}
.authSubmitDiv>button{
    width: 50%;
}
.pviewer{
position: absolute;
    top: 60%;
    margin-inline: 5%;
    cursor: pointer;
    display: flex;
}
.authPasswordGroup{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}
.authPasswordGroup > label{
    align-self: flex-start;
}
.formParent .MiddleForm{
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
box-shadow: 5px 5px 15px 5px #000000;
    border: 1px solid;
    padding: 30px;
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background: whitesmoke;
}
.formParent >form{
display: flex;
}
.formInner{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.langTopForm{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 1200px) {
    .formParent {
        width: 50%;
    }
  }

@media screen and (max-width: 768px) {
    .formParent {
    width: 90%;

  }
}