.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#adminWrapper{
    height: 100%;
    width: calc(100% - 250px);
    
}
.adminWrapperLTR{
    float: right;
}
.adminWrapperRTL{
    float: left;
}