.admitionFirstFormMainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    width: 800px;
    margin: 0 auto;
    height: 600px;
    justify-content: space-evenly;
}

.mainFormTitle {
    font-weight: 800;
    font-size: 50px;
    margin-bottom: 30px;
}

.imeimainDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    
}




.imeiLabel {
    font-size: 20px;
    margin-bottom: 8px;
}

.imeiInput {
    width: 100%;
    height: 75px;
    border: 1px solid lightgray;
    border-radius: 8px;
}

.imeiInput::-webkit-outer-spin-button,
.imeiInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.imeiInput[type=number] {
  -moz-appearance: textfield;
}

.imeiInput[type="number"]
{
    font-size:25px;
}
.imeiInput1 {
    width: 100%;
    height: 75px;
    border: 1px solid red;
    border-radius: 8px;
}

.imeiInput1::-webkit-outer-spin-button,
.imeiInput1::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.imeiInput1[type=number] {
  -moz-appearance: textfield;
}

.imeiInput1[type="number"]
{
    font-size:25px;
}

.imeiInput1:hover {
    border: 1px solid black;
}
.imeiInput1:focus {
    border: 1px solid #0072E5;
    outline: 1px solid #0072E5;

}

.idCodeMainDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.idCodeLabel {
    font-size: 20px;
    margin-bottom: 8px;
}

.idCodeInput {
    width: 100%;
    height: 75px;
    border: 1px solid lightgray;
    border-radius: 8px;
}

.idCodeInput[type="number"]
{
    font-size:25px;
}

.idCodeInput::-webkit-outer-spin-button,
.idCodeInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.idCodeInput[type=number] {
  -moz-appearance: textfield;
}

.idCodeInput:hover {
    border: 1px solid black;
}

.idCodeInput:hover {
    border: 1px solid black;
}
.idCodeInput:focus {
    border: 1px solid #0072E5;
    outline: 1px solid #0072E5;

}
.idCodeInput1 {
    width: 100%;
    height: 75px;
    border: 1px solid red;
    border-radius: 8px;
}

.idCodeInput1[type="number"]
{
    font-size:25px;
}

.idCodeInput1::-webkit-outer-spin-button,
.idCodeInput1::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.idCodeInput1[type=number] {
  -moz-appearance: textfield;
}

.idCodeInput1:hover {
    border: 1px solid black;
}

.idCodeInput1:hover {
    border: 1px solid black;
}
.idCodeInput1:focus {
    border: 1px solid #0072E5;
    outline: 1px solid #0072E5;

}
.firstFormButtons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.admitionFirstFormSubmit {
    
    height: 50px;
    color: #0072E5;
    border: 1px solid #0072E5;
    border-radius: 8px;
    background-color: #fff;
    transition: all 500ms ease;
    flex: 1;
    margin: 0 5px;
}

.admitionFirstFormSubmit:hover {
    background-color: #0072E5;
    color: #fff;
}

.admitionFirstFormCreate {
    flex: 1;
    margin: 0 5px;
    height: 50px;
    color: #00e599;
    border: 1px solid #00e599;
    border-radius: 8px;
    background-color: #fff;
    transition: all 500ms ease;
}

.admitionFirstFormCreate:hover {
    background-color: #00e599;
    color: #fff;
}


