.reacttableParent{
    display: flex;
    
    height: calc(100vh - 160px );
    width: 100%;
    overflow: hidden;
}

.reacttableParentRight {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: all 500ms ease;
}

.reactTableParentMiddle1{
  width: 8px;
  
  border-radius: 5px;
  
  height: 100px;
}
.reactTableParentMiddle1BTN {
  width: 10px;
  height: 100%;
  background-color: darkgray;
  border: 1px solid gray;
  cursor: pointer;
  transform: perspective(10px) rotatey(8deg);
  margin-top: 100px;
}


.reacttableParentUp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    transition: all 500ms ease;
}

.groupListRefresh {
  width: 60px;
    height: 60px;
    font-size: 40px;
    border: none;
    background-color: transparent;
    color: #00AFB9;
}

.reacttableParentPlusButton {
    display: inline;
    transition: all 500ms ease;
    align-items: center;
    display: flex;
    flex: 0.2;
    justify-content: space-around;
   
}

.plusBUTTON {
    background-color: #fff;
    border: 1px solid greenyellow;
    display: inline;
    
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 35px;
    color: greenyellow;
    transition: all 0.5s ease;
}

.plusBUTTON:hover {
    border: none;
    color: #fff;
    background-color: greenyellow;
}

.reacttableParentMiddleMiddleSide {
    display: flex;
    flex: .9;
    transition: all 500ms ease;
    flex-direction: column;
    align-items: flex-end;
    margin-inline-end: 20px;

    border-radius: 5px;
    padding: 2px;
    margin-bottom: 3px;
    margin-top: 3px;

  }

  .searchDater {
    cursor: pointer;
    font-size: 20px;
    margin-top: 8px;
    transition: all 500ms ease;
  }

  .searchField {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: all 500ms ease;
    height: 0;
  }
  .bredCrumbTable{
    height: fit-content;
    transition: all 500ms ease;
  }
  
  .searchField > div {
    margin: 0 5px;
    transition: all 500ms ease;
  }

  .reacttableParentMain {

    display: flex;
    flex-direction: row;
    height: calc(100vh - 360px);
    transition: all 500ms ease;
}


.reacttableParentMainRight{
    height: 100%;
    width: 150px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.reacttableParentMainRightUp{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
    width: 100%;
}
.reacttableParentMainRightUpInformation {
    margin-top: 5px;
}

.reacttableParentMainRightUpInformationDiv {
    border: 1px solid gray;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.reacttableParentMainRightDown {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
    width: 100%;
}

.reacttableParentMainRightDownToolBox {
    margin-top: 5px;
}

.reacttableParentMainRightDownToolBoxDiv {
    border: 1px solid gray;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reacttableParentMainRightDownToolBoxDivColumnBtn {
    display: flex;
    margin-top: 5px;
    
    padding: 5px;
    width: 100%;
}
.reacttableParentMainRightDownToolBoxDivColumnBtnSearch {
    display: flex;
    margin-top: 5px;
    align-items: center;
    padding: 5px;
    width: 100%;
}

.columnBtnTableToggle {
    
    width: 100%;
    border: 1px solid #00AFB9;
    cursor: pointer;
    padding: 4px 5px;
    border-radius: 5px;
    margin: 0 8px;
    cursor: pointer;
    background-color: #fff;
    color: #2fd8e0;
    font-size: 13px;
    transition: all 500ms ease;
  }

  .hold {
    width: 100%;
    cursor: pointer;
    padding: 4px 5px;
    border-radius: 5px;
    margin: 0 8px;
    cursor: pointer;
    border: 1px solid #00AFB9;
    font-size: 13px;
    transition: all 500ms ease;
    background-color: #2fd8e0;
    color: #fff;
  }

 


  .reacttableParentMainLeft {
    height: 100%;
    width: 100%;
    display: flex;

}

.reacttableParentMainLeftRight {
   
    height: 100%;
    flex: 7;
    width: 100px;
    margin:  0 8px;
}
.reacttableParentMiddleMiddleMid {
    width: 100%;
    height: 100%;
    overflow: scroll;
    
    
  }
.noDataTable{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .MainTableCss {

    width: 100%;
    transition: all 500ms ease;
    border-spacing: 20px;
    
    
  }

  
  .MainTableCss {
    /* table-layout: fixed; */
    
    border-collapse: collapse;
    overflow: scroll;
    
  }
  
table > tbody > tr:nth-child(even){background-color: #f2f2f2;}
  
  
  thead {
    height: 30px;
    
  }
  
 .MainTableTh,
 .TableMainTd {
    max-width: 300px;
    padding: 8px 8px;
    border: 1px solid #ddd;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
  }
  
.MainTableThead {
    position: sticky;
    inset-block-start: 0;
    background-color: #ddd;
    z-index: 10;
  }
  

.reacttableParentMainLeftLeft {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    width: 0;
    /* display: none; */
    transition: all 500ms ease;
}

.closebtn{
    cursor: pointer;
    font-size: 2rem;
    top: 0;
    margin: 0 auto;
    border: none;
    background-color: transparent;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 5px;

}

.closebtn:focus {
  outline: none;
}

.mainUnderCloseBtn {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.checkBoxTableParent{
    display: flex;
    width: 90%;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    font-size: larger;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 0 40px;
    border: 1px solid lightgray;
}



.tableParrentInputCheck {
    width: 17px;
    height: 17px;
}

.checkBoxTableParent > label {
    font-size: 13px;
}
.checkBoxTableParentForAll{
  display: flex;
  width: 90%;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  font-size: larger;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 0 40px;
  border: 1px solid lightgray;
}

.checkBoxTableParentForAll > input {
  width: 17px;
  height: 17px;
}

.checkBoxTableParentForAll > label {
  font-size: 13px;
}

.reacttableParentDown {
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}



.emptyDiv {
    flex: 1;
  
  }
  
  .downPaginationMain {
    flex: 1;
    height: 100%;
    transition: all 500ms ease;
  }
  
  
  
  .page {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    border-radius: 0.6rem;
    background: #ffffff;
    box-shadow: 0 0.8rem 2rem rgba(#5a6181, 0.05);
    transition: all 500ms ease;
  }
  .page nav{
    direction: ltr;
  }
  .downPaginationBTN {
      border: none;
      background-color: transparent;
      font-size: 1.4rem;
      color: #2a7ade;
      cursor: pointer;
  }
  
  
  
  .page__numbers,
  .page__btn,
  .page__dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.4rem;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .page__dots {
    width: 2.6rem;
    height: 2.6rem;
    color: var(--greyLight);
    cursor: initial;
  }
  
  .page__numbers {
    width: 2rem;
    height: 2rem;
    border-radius: 0.4rem;
  }
  
  .page__numbers:hover {
    border: 1px solid #2a7ade ;
    color: #2a7ade;
  }
  
  .page__numbers.active {
    color: #ffffff;
    background: #2a7ade;
    font-weight: 600;
    border: 1px solid #2a7ade;
  }
  
  .page__btn{
    color: #23adade1;
    cursor: pointer;
  }
  
  .material-icons:focus{
  outline: none;
  }
  
  .page__btn.active {
    color: #2d4848;
  }
  
  .page__btn:hover{
    color: #23adad;
    
  }
  
  .downpaginationButtins {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: all 500ms ease;
  }
  
  
  
  .pageNumber {
    width: 100px;
    margin: 0 4px;
    border: 1px solid lightgray;
    font-size: 14px;
    padding: 0 3px;
  }
  
  .pageNumber:hover {
    border: 1px solid rgb(226, 107, 107);
  }
  
  .pageNumber:focus {
    outline: none;
    border: 1px solid rgb(226, 107, 107);
  }
  
  .sendForm {
    width: 100px;
    margin: 0 5px;
    margin-inline-end: 20px;
    background-color: #fff;
    color: #2a7ade ;
    border: 1px solid #2a7ade;
    border-radius: 5px;
    cursor: pointer;
    transition: all 500ms ease;
  }
  
  .sendForm:hover {
    background-color: #2a7ade;
    color: #fff;
      
  }
  
  .paginationSelector {
    width: 70px;
    height: fit-content;
    border: 1px solid lightgray;
    outline: none;
    margin: 0 5px;
    cursor: pointer;
    transition: all 500ms ease;
  }
  
  .paginationSelector:hover {
    border: 1px solid #00AFB9;
    outline: none;
  }
  
  .paginationSelector:focus {
    border: 1px solid #00AFB9;
    outline: none;
  }
  


.reacttableParentLeft {
    height: calc(100vh - 360px);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: auto 0;
    width: 0;
    /* display: none; */
    transition: all 500ms ease;
}


.sortingArrowsBTN {
  outline: none;
  background-color: transparent;
  border: none;
}

.sortingArrowsBTN:focus {
  outline: none;
  background-color: transparent;
  border: none;
}

.reactTableParentExportButton {
  margin: 5px auto;
  background-color: white;
  color: rgb(165, 255, 47);
  width: 50px;
  height: 40px;
  font-size: 25px;
  border: 1px solid rgb(165, 255, 47);
  border-radius: 5px;
  transition: all 400ms ease;
}

.reactTableParentExportButton:hover{
  background-color: rgb(165, 255, 47);
  color: white;
}
.reactTableParentImportButton {
  margin: 5px auto;
  background-color: white;
  color: rgb(32, 253, 224);
  width: 50px;
  height: 40px;
  font-size: 25px;
  border: 1px solid rgb(32, 253, 224);
  border-radius: 5px;
  transition: all 400ms ease;
}

.reactTableParentImportButton:hover{
  background-color: rgb(32, 253, 224);
  color: white;
}
.reactTableParentLogButton {
  margin: 5px auto;
  background-color: white;
  color: rgb(47, 206, 255);
  width: 50px;
  height: 40px;
  font-size: 25px;
  border: 1px solid rgb(47, 206, 255);
  border-radius: 5px;
  transition: all 400ms ease;
}

.reactTableParentLogButton:hover{
  background-color: rgb(47, 206, 255);
  color: white;
}
.reactTableParentAccessButton {
  margin: 5px auto;
  background-color: white;
  color: rgb(47, 102, 255);
  width: 50px;
  height: 40px;
  font-size: 25px;
  border: 1px solid rgb(47, 102, 255);
  border-radius: 5px;
  transition: all 400ms ease;
}
ctTableParentAccessButton:hover{
  background-color: rgb(47, 102, 255);
  color: white;
}
.reactTableParentFavoritButton {
  margin: 5px auto;
  background-color: white;
  color: rgb(137, 47, 255);
  width: 50px;
  height: 40px;
  font-size: 25px;
  border: 1px solid rgb(137, 47, 255);
  border-radius: 5px;
  transition: all 400ms ease;
}
.favactive{
  background-color: rgb(137, 47, 255);
  color: white;
}
.reactTableParentFavoritButton:hover{
  background-color: rgb(137, 47, 255);
  color: white;
}
.reactTableParentHelpButton {
  margin: 5px auto;
  background-color: white;
  color: rgb(255, 172, 47);
  width: 50px;
  height: 40px;
  font-size: 25px;
  border: 1px solid rgb(255, 172, 47);
  border-radius: 5px;
  transition: all 400ms ease;
}

.reactTableParentHelpButton:hover{
  background-color: rgb(255, 172, 47);
  color: white;
}


.groupContainerRight {
  width: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 2px;
  align-items: center;
  justify-content: space-between;
}

.rightInformations {
  flex: 1;
  border: 1px solid lightgray;
  width: 100%;
  margin: 2px 0;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.rightButtons {
  flex: 1;
  border: 1px solid lightgray;
  width: 100%;
  margin: 2px 0;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.groupContainerLeft {
  height: 100%;
  width: calc(100% - 100px);
  display: flex;

}

.hiddingSection {
  width: 250px;
  height: 100%;
  align-items: center;
  transition: all 500ms ease ;
  display: flex;
  flex-direction: row;
}
.hiddenSectionBtn{
  width: 10px;
  height: 100px;
  align-self: flex-start;

}

.hiddenSectionCheck {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 240px;
  overflow-y: scroll;
}

.tableSection {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
 
  
}

.searchSection{
  flex: 10%;
  display: flex;
  transition: all 500ms ease;
}

.tableAndPaging {
  height: 90%;
  transition: all 500ms ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.selfTabel {
  transition: all 500ms ease;
  width: 100%;
  flex: 90%;
  overflow-x: auto;
}
.selfPaging {
  transition: all 500ms ease;
  width: 100%;
  flex: 5%;
  display: flex;
  flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.div33 {
  height: 100%;
  width: 1592.67px;
  transition: all 500ms ease;

}

.searchTextChange {
  height: 54px;
}