.mainProductForm {
    display: flex;
    flex-direction: row;
    /* width: 100%;
    height: 100%; */
    width: 100%;
    height: 100%;
    
}

.rightForm {
    flex : 0.3;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
   
}

.timeanddate {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;  
}



.timeanddate > h4 {
    margin: 0 10px;
}
.timeanddate > h3 {
    margin: 0 10px;
}
.DateAdnTime1{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    width: 70%;
    border: 1px solid lightgray;
}

.DateAdnTime {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    width: 70%;
}

.DateTimeLabel {
    margin-bottom: 3px;
    margin-right: 4px;
}

#DateTime {
    margin-top: 5px;
    border:none;
    border-radius: 5px;
}

#DateTime:focus {
    border: none;
    outline: none;
}





.recivedIdClass {
    margin: 3px auto;
    margin-top: 15px;
    height: 40px;
    border: 1px solid lightgray;
    border-radius: 3px;
    width: 70%;  
    padding: 10px;
    font-size: 14px; 
}

.recivedIdClass:hover {
    border: 1px solid black;
}

.recivedIdClass:focus {
	outline: 1px solid #0072E5;
    border: 1px solid #0072E5;
}
.recivedIdClassFailed {
    margin: 3px auto;
    margin-top: 15px;
    height: 40px;
    border: 1px solid red;
    border-radius: 3px;
    width: 70%;  
    padding: 10px;
    font-size: 14px; 
}

.recivedIdClassFailed:hover {
    border: 1px solid red;
}

.recivedIdClassFailed:focus {
	outline: 1px solid red;
    border: 1px solid red;
}

.recivedIdClassFailed:focus::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: red;
    opacity: 1; /* Firefox */
  }
  
  .recivedIdClassFailed:focus:-ms-input-placeholder:focus { /* Internet Explorer 10-11 */
    color: red;
  }
  
  .recivedIdClassFailed:focus::-ms-input-placeholder:focus { /* Microsoft Edge */
    color: red;
  }



.recivedIdClass:focus::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #0072E5;
    opacity: 1; /* Firefox */
  }
  
  .recivedIdClass:focus:-ms-input-placeholder:focus { /* Internet Explorer 10-11 */
    color: #0072E5;
  }
  
  .recivedIdClass:focus::-ms-input-placeholder:focus { /* Microsoft Edge */
    color: #0072E5;
  }


.recivedIdClassASeccess {
    margin: 3px auto;
    margin-top: 15px;
    height: 40px;
    border: 1px solid green;
    border-radius: 3px;
    width: 70%;  
    padding: 10px;
    font-size: 14px; 
}

.recivedIdClassASeccess:hover {
    border: 1px solid green;
}

.recivedIdClassASeccess:focus {
	outline: 1px solid green;
    border: 1px solid green;
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.personInformation {
    margin: 5px 0;
    border: 1px solid lightgray;
    width: 70%;
    border-radius: 3px; 
    height: 40px;
    padding: 10px;
    font-size: 14px;
}

.personInformation:hover {
    border: 1px solid black;
}

.personInformation:focus {
    outline: 1px solid #0072E5;
    border: 1px solid #0072E5;
}

.personInformation:focus::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #0072E5;
    opacity: 1; /* Firefox */
  }
  
  .personInformation:focus:-ms-input-placeholder:focus { /* Internet Explorer 10-11 */
    color: #0072E5;
  }
  
  .personInformation:focus::-ms-input-placeholder:focus { /* Microsoft Edge */
    color: #0072E5;
  }

.personInformationSeccess {
    margin: 5px 0;
    border: 1px solid green;
    width: 70%;
    border-radius: 3px; 
    height: 40px;
    padding: 10px;
    font-size: 14px;
}

.personInformationSeccess:hover {
    border: 1px solid green;
}

.personInformationSeccess:focus {
    outline: 1px solid green;
    border: 1px solid green;
}
.personInformationSeccess::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: green;
    opacity: 1; /* Firefox */
  }
  
  .personInformationSeccess:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: green;
  }
  
  .personInformationSeccess::-ms-input-placeholder { /* Microsoft Edge */
    color: green;
  }

.personInformationFailed {
    margin: 5px 0;
    border: 1px solid red;
    width: 70%;
    border-radius: 3px; 
    height: 40px;
    padding: 10px;
    font-size: 14px;
}

.personInformationFailed:hover {
    border: 1px solid red;
}

.personInformationFailed:focus {
    outline: 1px solid red;
    border: 1px solid red;
}

.personInformationFailed::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: red;
    opacity: 1; /* Firefox */
  }
  
  .personInformationFailed:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: red;
  }
  
  .personInformationFailed::-ms-input-placeholder { /* Microsoft Edge */
    color: red;
  }


.personInformationText {
    margin: 5px 0;
    border: 1px solid lightgray;
    width: 70%;
    border-radius: 3px; 
    height: 100px;
    padding: 10px;
    font-size: 14px;
    resize: none;
    overflow: hidden;
}

.personInformationText:hover {
    border: 1px solid black;
}

.personInformationText:focus {
    outline: 1px solid #0072E5;
    border: 1px solid #0072E5;
}

.personInformationTextFailed {
    margin: 5px 0;
    border: 1px solid red;
    width: 70%;
    border-radius: 3px; 
    height: 100px;
    padding: 10px;
    font-size: 14px;
    resize: none;
    overflow: hidden;
}

.personInformationTextFailed:hover {
    border: 1px solid red;
}

.personInformationTextFailed:focus {
	outline: 1px solid red;
    border: 1px solid red;
}

.personInformationTextFailed::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: red;
    opacity: 1; /* Firefox */
  }
  
  .personInformationTextFailed:-ms-input-placeholder:focus { /* Internet Explorer 10-11 */
    color: red;
  }
  
  .personInformationTextFailed::-ms-input-placeholder:focus { /* Microsoft Edge */
    color: red;
  }



.personInformationText:focus::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #0072E5;
    opacity: 1; /* Firefox */
  }
  
  .personInformationText:focus:-ms-input-placeholder:focus { /* Internet Explorer 10-11 */
    color: #0072E5;
  }
  
  .personInformationText:focus::-ms-input-placeholder:focus { /* Microsoft Edge */
    color: #0072E5;
  }

  .personInformationTextSeccess {
    margin: 5px 0;
    border: 1px solid green;
    width: 70%;
    border-radius: 3px; 
    height: 100px;
    padding: 10px;
    font-size: 14px;
    resize: none;
    overflow: hidden;
}
  .personInformationTextSeccess:hover {
    border: 1px solid green;
}

.personInformationTextSeccess:focus {
    outline: 1px solid green;
    border: 1px solid green;
}
.personInformationTextSeccess::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: green;
    opacity: 1; /* Firefox */
  }
  
  .personInformationTextSeccess:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: green;
  }
  
  .personInformationTextSeccess::-ms-input-placeholder { /* Microsoft Edge */
    color: green;
  }



.deviceFaildAndPicture {
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 70%;
    border-radius: 5px;
}



.deviceFaildAndPicture:focus {
    outline: 1px solid #0072E5;
    border: 1px solid #0072E5;
}

.deviceFailedDescription {
    height: 100px;
    padding: 5px;
    font-size: 14px;
    border: 1px solid lightgray;
    resize: none;
    overflow: hidden;
    border-radius: 3px;
}
.deviceFailedDescription:hover {
    border: 1px solid black;
}

.deviceFailedDescription:focus {
    outline: 1px solid #0072E5;
    border: 1px solid #0072E5;
}


.deviceFailedDescriptionFailed {
    height: 100px;
    padding: 5px;
    font-size: 14px;
    border: 1px solid red;
    resize: none;
    overflow: hidden;
    border-radius: 3px
}

.deviceFailedDescriptionFailed:hover {
    border: 1px solid red;
}

.deviceFailedDescriptionFailed:focus {
	outline: 1px solid red;
    border: 1px solid red;
}

.deviceFailedDescriptionFailed::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: red;
    opacity: 1; /* Firefox */
  }
  
  .deviceFailedDescriptionFailed:-ms-input-placeholder:focus { /* Internet Explorer 10-11 */
    color: red;
  }
  
  .deviceFailedDescriptionFailed::-ms-input-placeholder:focus { /* Microsoft Edge */
    color: red;
  }



.deviceFailedDescription:focus::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #0072E5;
    opacity: 1; /* Firefox */
  }
  
  .deviceFailedDescription:focus:-ms-input-placeholder:focus { /* Internet Explorer 10-11 */
    color: #0072E5;
  }
  
  .deviceFailedDescription:focus::-ms-input-placeholder:focus { /* Microsoft Edge */
    color: #0072E5;
  }

  .deviceFailedDescriptionSeccess {
    height: 100px;
    padding: 5px;
    font-size: 14px;
    border: 1px solid green;
    resize: none;
    overflow: hidden;
    border-radius: 3px
}
  .deviceFailedDescriptionSeccess:hover {
    border: 1px solid green;
}

.deviceFailedDescriptionSeccess:focus {
    outline: 1px solid green;
    border: 1px solid green;
}
.deviceFailedDescriptionSeccess::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: green;
    opacity: 1; /* Firefox */
  }
  
  .deviceFailedDescriptionSeccess:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: green;
  }
  
  .deviceFailedDescriptionSeccess::-ms-input-placeholder { /* Microsoft Edge */
    color: green;
  }



.failedBTNParent{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 25px;
    margin-top: 3px;
    border: none;
}

.failedBTNParent >input {
    display: none;
}

.failedBTN {
    background-color: transparent;
    color:rgb(255, 68, 68);
    cursor: pointer;
    border: none;
    margin: 0 5px;
    font-size: 16px;

}

.failedBTN:focus {
    outline: none;
}

.failedBTNParent > span {
    font-size: 10px; 
}





.pattern {
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid lightgray;
    margin-top: 5px;
    border-radius: 5px;

    
}

.pattern:hover {
    border: 1px solid black;

}


.patternDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btnPattern {
    background-color: #fff;
    border: 1px solid lightgray;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 8px;
    border-radius: 8px;
    color: #000;
    cursor: pointer;
    transition: all 0.4s ease;
    margin: 1px 5px;
    font-size: 14px;
    
}

.btnPattern:hover {
    background-color: rgb(211, 211, 211);
    color: #000;
}
.patternspan {
    flex: 2;
    font-size: 12px;
    text-align: center;
    
}

.sectionDiv {
    flex: 1;
    margin: 1px 5px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.selectionLock {
    border-radius: 5px;
    border: 1px solid lightgray;
}


/* .selectionLock:hover {
    background-color: rgb(0, 132, 255);
    color: #fff;
} */

.selectionLock:focus {
    outline: none;
}



.patternLock {
    margin-top: 5px;
}



.selectSendType {
    margin-top: 10px;
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 3px;
    width: 70%;
    outline: none;
    
}

.selectSendType:hover {
    border: 1px solid black;
}



.selectSendType:focus {
    outline: 1px solid #0072E5;
    border: 1px solid #0072E5;
    
}









.middleForm {
    flex: 0.4;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}



.selectwaranty {
    margin-top: 10px;
    margin-bottom: 5px;

    padding: 10px;
    border-radius: 5px;
    width: 70%;
    border: 1px solid lightgray;
}
.selectwaranty:hover {
    border: 1px solid black;
}

.selectwaranty:focus {
    outline: 1px solid #0072E5;
    border: 1px solid #0072E5;
}

.selectwaranty1 {
    margin-top: 10px;
    margin-bottom: 5px;

    padding: 10px;
    border-radius: 5px;
    width: 73%;

}










.deviceSerial {
    margin: 4px auto;
    margin-top: 15px;
    height: 40px;
    border: 1px solid lightgray;
    border-radius: 3px;
    width: 70%;  
    padding: 10px;
    font-size: 14px; 
}

.deviceSerial:hover {
    border: 1px solid black;
}

.deviceSerial:focus {
    outline: 1px solid #0072E5;
    border: 1px solid #0072E5;
}


.deviceSerial:focus::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #0072E5;
    opacity: 1; /* Firefox */
  }
  
  .deviceSerial:focus:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #0072E5;
  }
  
  .deviceSerial:focus::-ms-input-placeholder { /* Microsoft Edge */
    color: #0072E5;
  }

.deviceSerialFailed {
    margin: 4px auto;
    margin-top: 15px;
    height: 40px;
    border: 1px solid red;
    border-radius: 3px;
    width: 70%;  
    padding: 10px;
    font-size: 14px; 
}

.deviceSerialFailed:hover {
    border: 1px solid red;
}

.deviceSerialFailed:focus {
    outline: 1px solid red;
    border: 1px solid red;
}


.deviceSerialFailed::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: red;
    opacity: 1; /* Firefox */
  }
  
  .deviceSerialFailed:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: red;
  }
  
  .deviceSerialFailed::-ms-input-placeholder { /* Microsoft Edge */
    color: red;
  }

.deviceSerialSeccess {
    margin: 4px auto;
    margin-top: 15px;
    height: 40px;
    border: 1px solid green;
    border-radius: 3px;
    width: 70%;  
    padding: 10px;
    font-size: 14px; 
}

.deviceSerialSeccess:hover {
    border: 1px solid green;
}

.deviceSerialSeccess:focus {
    outline: 1px solid green;
    border: 1px solid green;
}

.deviceSerialSeccess::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: green;
    opacity: 1; /* Firefox */
  }
  
  .deviceSerialSeccess:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: green;
  }
  
  .deviceSerialSeccess::-ms-input-placeholder { /* Microsoft Edge */
    color: green;
  }


.signaturepadDiv {
    border: 1px solid lightgray;
    margin-top: 10px;
    border-radius: 5px;
    width: 70%;
}

.signaturepadDiv:hover {
    border: 1px solid black;
}

.signaturepadDiv1 {
    border: 1px solid lightgray;
    
    border-radius: 5px;
    width: 70%;
}

.signaturepadDiv1:hover {
    border: 1px solid black;
}


.leftForm {
    flex: 0.3;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.LOGO {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 40px;
    width: 50%;

}

.LOGO > img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}



.warrantyExp {
    border: 1px solid black;
    margin-top: 20px;
    height: 120px;
    width: 70%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.fanni {
    border: 1px solid black;
    margin-top: 20px;
    height: 110px;
    width: 70%;
    border-radius: 5px;
    margin-bottom: 15px;

}



.admissionButtonSubmit {
    width: 70%;
    margin-top: 5px;
    height: 50px;
    border: 1px solid rgb(79, 79, 218);
    background-color: #fff;
    border-radius: 5px;
    color: rgb(79, 79, 218);
    transition: all 400ms ease;
}

  .admissionButtonSubmit:hover {
    color: #fff;
    background-color: rgb(79, 79, 218);
  }



.logoAdmission {
    object-fit: contain;
}
